# If your GitHub repository URL is https://github.com/username/reponame, 
# UserName is "username" and GitHubRepoName is "reponame".
UserName = ""
GitHubRepoName = ""
# Your Cloudflare proxy URL, optional, e.g. proxy.yourname.workers.dev, 
# if you don't know, ignore it.
ProxyURL = ""
# Download path for Releases packages.
DownloadPath = "./"
# The path to the database of your Arch local repository and name, optional, 
# they are used by repo-add. 
# If you just want to download packages, run helper.py with `--no_update_repo` 
# argument and ignore them. 
# See https://wiki.archlinux.org/index.php/Pacman/Tips_and_tricks#Custom_local_repository for more details.
ArchRepoDBPath = "./"
ArchRepoName = "LocalRepo"